@font-face {
  font-family: "Aligarh-Regular";
  src: url(../fonts/aligarh/Aligarh-Regular.ttf);
}

.blink {
  animation: blink-animation 1s ease 0s infinite alternate;
}
h2 {
  font-size: 3em;
}
@keyframes blink-animation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.cmm-btn{
  margin: 20px 0px;
  margin-bottom: 30px;
a {
  text-decoration: none;
  color: inherit;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: red;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  // text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
}

body {
  // font-family: "B612", sans-serif;
  font-family: "Aligarh-Regular";
  font-weight: 700;
  letter-spacing: 1px;
  // background-image: url(../images/bb.png);
  background-attachment: fixed;
}

.clrcds {
  background-color: #b88943;
  background-color: #04303c;
  background-color: #045469;
  background-color: #945c2c;
}
// colr nms
// Tussock
// #B88943

// Blue Whale
// #04303C

// Mosque
// #045469

// Paarl
// #945C2C
.title-bordered {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.title-bordered:before {
  left: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#04303c));
  background-image: linear-gradient(to right, transparent 0%, #04303c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff04303c', GradientType=1);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity = 12);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity = 12);
}
.title-bordered .title-inner {
  position: relative;
  padding-bottom: 45px;
  position: relative;
  padding: 20px;
}
.title-bordered:after {
  right: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#04303c), to(transparent));
  background-image: linear-gradient(to right, #04303c 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04303c', endColorstr='#00000000', GradientType=1);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity = 12);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity = 12);
}
.title-bordered .title-inner {
  position: relative;
  padding-bottom: 45px;
  position: relative;
  padding: 5px;
}
.title-bordered .title-inner:before {
  left: 50%;
  margin-left: -7px;
  bottom: 0;
  width: 13px;
  height: 13px;
  background: #04303c;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.title-bordered .title-inner:after {
  left: 50%;
  margin-left: -3px;
  bottom: 4px;
  width: 5px;
  height: 5px;
  background: #14a5d3;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

#abt-us {
  padding: 100px 0px;
  // background-image: url(../images/home/sketh.png);
  // background-repeat: no-repeat;
  // background-size: contain;
  .abt-tit {
    h2 {
      background: linear-gradient(to right, #04303c, #945c2c);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      span {
        text-align: center;
        padding: 20px 0px;
      }
    }
  }
  .asdasda{
    height: 50vh;
    background-image: url(../images/homeabt.png);
    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:991px){
      margin: 20px;
    }
    .wrapper {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
        // background-color:red;
    }
    
    .video-main {
      position: relative;
      display: inline-block;
    }
    
    .video {
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 100%;
      background: transparent;
      color: #fff;
      display: inline-block;
      background: #000000;
      z-index: 999;
    }
    
    @keyframes waves {
      0% {
        -webkit-transform: scale(0.2, 0.2);
        transform: scale(0.2, 0.2);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      }
      50% {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
      }
      100% {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      }
    }
    
    .fa-play:before {
      content: "\f04b";
    }
    
    .waves {
      position: absolute;
      width: 150px;
      height: 150px;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      border-radius: 100%;
      right: -50px;
      bottom: -50px;
      z-index: -1;
       -webkit-animation: waves 3s ease-in-out infinite;
      animation: waves 3s ease-in-out infinite;
    }
            
    .wave-1 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    
    .wave-2 {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    
    .wave-3 {
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
    }
  }
  
}

// Cmm If Requited
.padd-left{
  padding-left: 0px;
  @media(max-width:991px){
    padding: 10px   ;
  }
}
.dbloc{
  display: none;
}
@media(max-width:991px){
  .dnone{
  display: none;
  }
  .dbloc{
    display: block;
  }
}

#oursets{
  background-image: url(../images/home/Sets-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  /* padding: 100px 0px; */
  background-size: contain;
  // background-size: cove;
  background-position:right;
  img{
    border-radius: 10px;
  }
  padding: 100px 0px;
  .sets-img-left{
    img{
      width: 100%;
      height: 800px;
      object-fit: cover;
    }
  }
  .sets-img-center{
    img{
      width: 100%;
      height: 390px;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }
  .dd-flx{
display: flex;
justify-content: center;
align-items: center;
@media(max-width:991px){
  display: block;
  justify-content: center;
  align-items: center;

}
  }
  .out-sets-bg{
    // background-image: url(../images/bb.png);
  }

  
  .inner-img {
    transition: 0.2s;
  }
  
  .inner-img:hover {
    // transform: scale(1.1);
    transform: scale(1.5);
  }
  
  /* Other styling elements, that are not necessary for the example */
  
  .img-wrapper {
    display: inline-block;
    box-sizing: border-box;
    //border: 1px solid #000;
  }
}