@font-face {
  font-family: "Aligarh-Regular";
  src: url(../fonts/aligarh/Aligarh-Regular.ttf);
}
.blink {
  animation: blink-animation 1s ease 0s infinite alternate;
}

h2 {
  font-size: 3em;
}

@keyframes blink-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
a {
  text-decoration: none !important;
}

.cmm-btn {
  margin: 20px 0px;
  margin-bottom: 30px;
}
.cmm-btn a {
  text-decoration: none;
  color: inherit;
}
.cmm-btn a:hover {
  color: #fff !important;
}
.cmm-btn a:hover i {
  color: #fff;
}
.cmm-btn .cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cmm-btn .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #945c2c;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cmm-btn .cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  vertical-align: middle;
}
.cmm-btn .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cmm-btn .cta:hover:before {
  width: 100%;
  background: #04303c;
  color: #fff !important;
}
.cmm-btn .cta:hover svg {
  transform: translateX(0);
}
.cmm-btn .cta:active {
  transform: scale(0.96);
}

body {
  font-family: "Aligarh-Regular";
  font-weight: 700;
  letter-spacing: 1px;
  background-attachment: fixed;
}

.clrcds {
  background-color: #b88943;
  background-color: #04303c;
  background-color: #045469;
  background-color: #945c2c;
}

.title-bordered {
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.title-bordered:before {
  left: 50%;
  background-image: linear-gradient(to right, transparent 0%, #04303c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#ff04303c", GradientType=1);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity=12);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity=12);
}

.title-bordered .title-inner {
  position: relative;
  padding-bottom: 45px;
  position: relative;
  padding: 20px;
}

.title-bordered:after {
  right: 50%;
  background-image: linear-gradient(to right, #04303c 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff04303c", endColorstr="#00000000", GradientType=1);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity=12);
  content: "";
  height: 1px;
  display: block;
  position: absolute;
  bottom: 6px;
  width: 12%;
  opacity: 0.12;
  filter: alpha(opacity=12);
}

.title-bordered .title-inner {
  position: relative;
  padding-bottom: 45px;
  position: relative;
  padding: 5px;
}

.title-bordered .title-inner:before {
  left: 50%;
  margin-left: -7px;
  bottom: 0;
  width: 13px;
  height: 13px;
  background: #04303c;
  opacity: 0.15;
  filter: alpha(opacity=15);
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

.title-bordered .title-inner:after {
  left: 50%;
  margin-left: -3px;
  bottom: 4px;
  width: 5px;
  height: 5px;
  background: #14a5d3;
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}

#abt-us {
  padding: 100px 0px;
  background-image: url(../images/home/about-bg\ .jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
#abt-us .abt-tit h2 {
  background: linear-gradient(to right, #04303c, #945c2c);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#abt-us .abt-tit h2 span {
  text-align: center;
  padding: 20px 0px;
}
#abt-us .asdasda {
  height: 50vh;
  background-image: url(../images/homeabt.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  #abt-us .asdasda {
    margin: 20px;
  }
}
#abt-us .asdasda .wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#abt-us .asdasda .video-main {
  position: relative;
  display: inline-block;
}
#abt-us .asdasda .video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  display: inline-block;
  background: #000000;
  z-index: 999;
}
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
#abt-us .asdasda .fa-play:before {
  content: "\f04b";
}
#abt-us .asdasda .waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  animation: waves 3s ease-in-out infinite;
}
#abt-us .asdasda .wave-1 {
  animation-delay: 0s;
}
#abt-us .asdasda .wave-2 {
  animation-delay: 1s;
}
#abt-us .asdasda .wave-3 {
  animation-delay: 2s;
}

.padd-left {
  padding-left: 0px;
}
@media (max-width: 991px) {
  .padd-left {
    padding: 10px;
  }
}

.dbloc {
  display: none;
}

@media (max-width: 991px) {
  .dnone {
    display: none;
  }
  .dbloc {
    display: block;
  }
}
#oursets {
  background-image: url(../images/home/Sets-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  /* padding: 100px 0px; */
  background-size: contain;
  background-position: right;
  padding: 100px 0px;
  /* Other styling elements, that are not necessary for the example */
}
@media (max-width: 991px) {
  #oursets {
    background-attachment: fixed;
  }
}
#oursets img {
  border-radius: 10px;
}
#oursets .sets-img-left img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
#oursets .sets-img-center img {
  width: 100%;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
#oursets .dd-flx {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  #oursets .dd-flx {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
#oursets .inner-img {
  transition: 0.2s;
}
#oursets .img-wrapper {
  display: inline-block;
  box-sizing: border-box;
}

#services {
  padding: 100px 0px;
  background-image: url(../images//home/servbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#services .serv-sec .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
#services .serv-sec .card {
  position: relative;
  width: 380px;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}
#services .serv-sec img {
  max-width: 100%;
  display: block;
}
#services .serv-sec .card img {
  transform: scale(1.3);
  transition: 0.3s ease-out;
}
#services .serv-sec .card:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}
#services .serv-sec .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  text-align: center;
  color: #fff;
}
#services .serv-sec .text-h1 {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
#services .serv-sec .text-p {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
}
#services .serv-sec .link-a {
  display: inline-block;
  background: crimson;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.4s;
}
#services .serv-sec .overlay .link-a:hover {
  background: rgb(95, 199, 10);
}
#services .serv-sec .card:hover .overlay .text-h1 {
  opacity: 1;
  transform: translateY(0);
}
#services .serv-sec .card:hover .overlay .text-p {
  opacity: 1;
  transform: translateY(0);
}
#services .serv-sec .card:hover .overlay .link-a {
  opacity: 1;
  transform: translateY(0);
}

#whychooseus {
  padding: 100px 0px;
}
#whychooseus .titlecnt-whyc {
  background-image: url(../../assets/images/aboutus/why.jpeg);
  background-size: cover;
  height: 500px !important;
}

#testimonials .testimonial {
  text-align: center;
}
#testimonials .testimonial .pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
}
#testimonials .testimonial .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#testimonials .testimonial .testimonial-title {
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  color: #0c4767;
  margin: 0 0 70px 0;
}
#testimonials .testimonial .testimonial-title small {
  font-size: 15px;
  font-weight: 600;
  color: #787878;
}
#testimonials .testimonial .description {
  font-size: 14px;
  color: #787878;
  line-height: 27px;
  position: relative;
  margin: 0;
}
#testimonials .testimonial .description:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 46%;
  font-size: 20px;
  color: #fa7921;
  line-height: 33px;
  border: 2px solid #fa7921;
}
#testimonials .owl-theme .owl-controls .owl-page span {
  background: #fff;
  border: 2px solid #0c4767;
  opacity: 1;
}
#testimonials .owl-theme .owl-controls .owl-page.active span,
#testimonials .owl-theme .owl-controls .owl-page:hover span {
  border: 2px solid #fa7921;
}/*# sourceMappingURL=style.css.map */